.banner-container{
  .owl-carousel,.owl-theme,.owl-loaded,.owl-drag{
    position: relative;
    
    .owl-stage-outer{
      .owl-stage{
        .owl-item,.cloned{
          .item,.carousel-item{
            img{
              height: 92vh;
              object-fit: cover;
            }
          }
        }
      }
    }
    .owl-nav{
      position:absolute;
      bottom: 10%;
      right: 4%;
      button{
        height: 40px ;
        width: 40px ;
        background-color: rgba(255, 255, 255, .1) !important;
        border: 2px solid #0079ff !important;
        position: relative;
        transition: 0.3s;
        span{
         font-size: 40px ;
         position: absolute;
         transform: translate(-50%, -50%);
        }
       
      }
      button:hover{
        scale: 1.2 !important;
        background-color:  #0079ff !important;
      }
     
    }
  }

}
