@import url(../theme/theme.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// main class of  button
.button {
  width: fit-content;
  height: 25px;
  padding: 8px 16px;
  border: 1px solid gray;
  text-align: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
// button size classes
.btn-3xs {
  padding: 6px 16px;
}
.btn-2xs {
  padding: 8px 20px;
}
.btn-xs {
  padding: 8px 24px;
}
.btn-x {
  padding: 10px 28px;
}
.btn-sm {
  padding: 12px 32px;
}
.btn-s {
  padding: 14px 36px;
}
.btn-m {
  padding: 16px 40px;
}
.btn-l {
  padding: 18px 44px;
}
.btn-lg {
  padding: 20px 48px;
}
.btn-xl {
  padding: 22px 52px;
}
.btn-xxl {
  padding: 24px 56px;
}
.btn-xsmall {
  padding: 28px 65px;
}
.btn-small {
  padding: 31px 70px;
}
.btn-md {
  padding: 36px 75px;
}
// making button oval
.btn-oval {
  border-radius: 30px;
}
// button with diffrent colors
.btn-transparent {
  background: transparent !important;
}
.button-primary {
  border-color: #146efa;
  background-color: #146efa;
  color: #ffff;
  &:hover {
    background-color: #3d89ff;
    border-color: #3d89ff;
  }
}
.button-secondary {
  border-color: #14a032;
  background-color: #14a032;
  color:#ffff;
  &:hover {
    background-color: #3fab56;
    border-color: #3fab56;
  }
}
.button-red {
  border-color: #d1332e;
  background-color: #d1332e;
  color:#ffff;
  &:hover {
    background-color: #dc6460;
    border-color: #dc6460;
  }
}
.button-gray {
  border-color: #2f2f2f;
  background-color: #2f2f2f;
  color:#ffff;
  &:hover {
    background-color: #9c9c9c;
    border-color: #9c9c9c;
  }
}
.button-base {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
  color:#ffff;
  &:hover {
    background-color: #5c5c5c;
    border-color: #5c5c5c;
  }
}
.button-o-primary {
  background:#ffff;
  border-color: #146efa;
  color: #146efa;
  &:hover {
    background: #146efa !important;
    border-color: #146efa;
    color:#ffff;
  }
}
.button-o-secondary {
  background:#ffff;
  border-color: #14a032;
  color: #14a032;
  &:hover {
    background: #14a032 !important;
    border-color: #14a032;
    color:#ffff;
  }
}
.button-o-red {
  background:#ffff;
  border-color: #d1332e;
  color: #d1332e;
  &:hover {
    background: #d1332e !important;
    border-color: #d1332e;
    color:#ffff;
  }
}

// animate button 
/* Import Google font - Poppins */
