body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }


.details-main{
    background-image: url(assets/details-images/search.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    margin: 1px 3px 3px 3px;
    border-radius: 12px;
    height: calc(93dvh - 4px);
}
.details-main-1{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(51, 51, 51, .6);
    color: #fff;
}

.anime-details-poster{
    /* height: 85%; */
    height: 37vw;
    width: 37%;
}
.anime-details-poster img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.anime-details-text{
    /* height: 85%; */
    height: 37vw;
    width: 53%;
    text-align: left;
    font-size: 16px;
}
.details-title{
    /* font-size: 35px; */
    /* font-size: 2.74vw; */
    font-size: 2.1875em;
    color: #d9d9d9;
    font-weight: bold;
    height: 20%;
    /* background-color: #ea4c; */
    display: grid;
    place-content: center;
}
.details-episodes{
    color: #B2BEB5;
    height: 10%;
    display: grid;
    place-content: center;
    font-size: 1em;
}
.details-description{
    color: #B2BEB5;
    text-align: justify;
    overflow: scroll;
    line-height: 1.5;
    /* font-size: 16px; */
    font-size: 1em;
    font-style: oblique;
    border-radius: 8px;
    padding: 8px;
    height: 45%;
    background-color: rgba(51, 51, 51, .4);
}
.details-description::-webkit-scrollbar {
    display: none;
}
.details-watch-button{
    height: 20%;
    display: grid;
    place-content: center;
}

/* css_for_responsiveness_width_starts_here */

@media (max-width:1200px){
    .details-main-1{
        width: 100%;
        border-radius: 12px;
    }
    .anime-details-poster,.anime-details-text{
        height: 40vw;
    }
    .anime-details-poster{
        width: 32%;
    }
}

@media (max-width:850px) {
    .details-main-1{
        flex-direction: column;
        background-color: rgba(51, 51, 51, .8);
    }
    .anime-details-poster,.anime-details-text{
        height: 46%;
        font-size: 12px;
    }
    .anime-details-text{
        width: 80%;
    }
}

@media (max-width:640px){
    .details-main-1{
        background-color: rgba(51, 51, 51, .8);
    }
    .anime-details-poster{
        width: 52vw;
    }
    .anime-details-text{
        width: 80%;
        font-size: 12px;
    }
}

@media (max-height:400px){
    .details-main-1{
        flex-direction: row;
    }
    .anime-details-poster{
        width: 29%;
        height: 88%;
    }
    .anime-details-text{
        width: 53%;
        height: 88%;
    }
}