.html{
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.main-content{
  width: 100%;
}

/* full_nav_css */

.full-nav {
  border: 2px solid #fff;
  height: 7dvh;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 99;
}
.branding-nav-mobile{
  display: none;
}
.menu{
  display: none;
}

.branding-nav {
  width: 30%;
  font-weight: bold;
  font-size: larger;
}

.debian{
  height: 20px;
  width: 20px;
}

.search{
  display: flex;
  justify-content: right;
  width: 30%;
}
.search form{
  display: flex;
  margin: 0;
}
.search input{
  padding: 0px 10px 0px 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
}

.search input:hover{
  border: 1px solid #ea4c89;
}

.search button{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.search button:hover,
.search button:focus {
  background-color: #f082ac;
}

.branding-nav a {
  text-decoration: none;
}

.dic {
  color: #fff;
}

.dic2 {
  color: #333;
}

.tators {
  color: #ea4c89;
}

/* nav_bar_css_starts_here */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ea4c89;
}
/* .active-dic{
  border: 2px solid #ea4c89;
  border-radius: 50%;
} */
/* nav_bar_css_ends_here */

/* active_nav_css_element */
.nav-links a {
  padding: 10px;
  position: relative;
}

/* .nav-links a.active {
} */

.nav-links a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #ea4c89;
}
.nav-links a.active-dic::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 4px;
  background-color: #ea4c89;
}


/* welcome_css_starts_here */


.welcome{
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
  /* background-color: lightseagreen; */
  border-radius: 20px;
  color: #333;
  font-size: 6vw;
  font-weight: bolder;
  font-style: oblique;
  height: calc(93dvh - 4px);
}
.welcome1{
  width: 50%;
}
.webcome2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.welcome-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome2 img{
  max-width: 100%;
}

/* welcome_css_end_here */

/* AnimaChat_css_starts_here */

.anima-chat {
  border-radius: 12px;
  margin: 8rem;
  text-align: center;
}

.anima-chat-header {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
}

.anima-chat-container {
  display: flex;
  justify-content: center;
}

.anima-chat-image {
  margin: 20px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anima-chat-image img {
  mix-blend-mode: multiply;
}

.anima-chat-text {
  margin: 20px;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-style: oblique;
}

/* anima_chat_css_ends_here */

/* paralax_background_css_starts_here */

.paralax-section {
  background-image: url("../assets/index-images/anime4.jpeg");
  min-height: 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paralax-relative{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-top: 1%;
}

.paralax-section-heading{
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  border-radius: 12px;
  font-style: italic;
  background-color: #fff;
}

.paralax-text{
  margin: 20px 0px 15px 0px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-style: oblique;
  opacity: 0.9;
}



/* paralax_background_css_ends_here */

/* About_section_css_start_here */

.about-section{
  background-image: url("../assets/index-images/anime3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.about-heading{
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
}

.about-text {
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  background-color: #ea4c89;
  color: #fff;
  margin: 20px;
  font-size: 1.2em;
  font-weight: bold;
  word-spacing: 5px;
  line-height: 1.5;
  opacity: 0.5;
}

.about-hr{
  width: 85vw;
  border: 1px solid #fff;
  margin: auto;
  margin-top: 40px;
}

.footer{
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

/* About_section_css_ends_here */

.button-1 {
  background-color: #ea4c89;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 12px;
  color: #ffffff;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}

/* responsive_css_starts_here 800px */

@media (max-width:800px) {
  .full-nav{
    justify-content: space-between;
  }
  .branding-nav{
    width: 50%;
  }
  .navbar{
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #333;
    transition: 0.2s;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
    flex-direction: column;
    border-radius: 12px;
  }
  .branding-nav-mobile{
    display: block;
    width: 100%;
    height: 12%;
    font-size: 1.5rem;
    margin: 20px 0 0 40px;
  }
  .nav-links{
    flex-direction: column;
    width: 100%;
    height: 88%;
    justify-content: left;
  }
  .nav-links li{
    font-size: 16px;
    margin: 5px;
  }
  #nav-check:checked ~ .navbar {
    left: 0;
  }
  .search{
    width: 50%;
  }
  .search input{
    width: 50%;
  }
  .search form{
    justify-content: right;
    margin-right: 7%;
  }
  .menu{
    display: block;
    font-weight: bold;
  }
}

/* responsive_css_for 600px */

@media (max-width:600px) {
  .welcome{
    flex-direction: column;
    padding: 0;
    font-size: 7vw;
    align-items: center;
    text-align: center;
    line-height: 1.4;
  }
  .welcome1{
    height: 40%;
    align-content: flex-end;
  }
  .welcome2{
    height: 60%;
  }
  .welcome-img {
    height: 100%;
  }
  .welcome-img img{
    max-height: 100%;
  }
  .anima-chat{
    margin: 30vh 0vh 30vh 0vh;
  }
  .anima-chat-header{
    font-size: 1rem;
  }
  .anima-chat-text{
    font-size: 1.25rem;
  }
  .anima-chat-text,.anima-chat-image{
    width: 150px;
    height: 150px;
  }
  .anima-chat-image img{
    height: 150px;
  }
  .button-1{
    font-size: 16px;
    padding: 5px 10px;
  }
  .paralax-section{
    background-image: url("../assets/index-images/anime5.jpg");
    min-height: 200px;
  }
  .paralax-section-heading{
    font-size: 20px;
  }
  .paralax-relative{
    opacity: 1;
  }
  .paralax-text{
    font-size: 20px;
  }
  .about-text{
    font-size: 1em;
  }
  .footer{
    font-size: 12px;
  }
}
