body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

a, button {
  -webkit-tap-highlight-color: transparent;  
  -webkit-user-select: none;                 
  user-select: none;                         
  touch-action: manipulation;               
}

a:focus, a:active, button:focus, button:active {
  outline: none;
  box-shadow: none;
  background-color: inherit;   
}


.search-header {
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.search-result {
  margin: 1px 3px 3px 3px;
  border-radius: 20px;
  color: #fff;
  display: grid;
  place-content: center;
}

.card-row {
  display: flex;
  margin: 5px;
  /* background-color: lightseagreen; */
}
.card-row a{
  text-decoration: none;
  margin: 10px;
}
.card {
  width: 19vw;
  height: 27vw;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: #ea4c;
  text-align: center;
  padding: 3px;
}
.card:hover {
  background-color: #ea4c89;
}
.card img {
  width: 100%;
  height: 100%;
  display: block;
}
.card-title {
  font-size: 1.43vw;
  color: #333;
  /* font-size: 18px; */
  font-weight: bold;
  margin: 10px 0;
  overflow: hidden;
}
.card-episodes {
  font-size: 1.1vw;
  /* font-size: 14px; */
  color: #666;
  margin-bottom: 15px;
}
.card-image {
  position: relative;
  top: 0px;
  height: 80%;
  width: 100%;
}
.card-image img {
  border-radius: 12px;
}

.search-no {
  color: #333;
  opacity: 0.5;
  font-size: 30px;
  font-weight: bold;
}

.search-result-800 {
  display: none;
}
.search-result-500 {
  display: none;
}

@media (max-width: 800px) {
  .search-result {
    display: none;
  }
  .search-result-800 {
    display: block;
    margin: 1px 3px 3px 3px;
    border-radius: 20px;
    color: #fff;
    display: grid;
    place-content: center;
  }

  .card {
    width: 27vw;
    height: 37vw;
    border-radius: 10px;
    text-align: center;
  }
  .card-title{
    font-size: 1.9vw;
    margin: 8px 0;
  }
  .card-episodes{
    font-size: 1.4vw;
  }
  .card-image img{
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .search-result {
    display: none;
  }
  .search-result-800 {
    display: none;
  }
  .search-result-500 {
    display: block;
    margin: 1px 3px 3px 3px;
    border-radius: 20px;
    color: #fff;
    display: grid;
    place-content: center;
  }
  .card {
    width: 43vw;
    height: 63vw;
    border-radius: 8px;
    text-align: center;
  }
  .card-title{
    font-size: 2.7vw;
    margin: 7px 0;
  }
  .card-episodes{
    font-size: 2vw;
  }
  .card-image img{
    border-radius: 8px;
  }
}
