{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dictators</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "AnimaBlend/indexcss.css" %}" />
  </head>
  <body>
    {% comment %} nav_bar_starts_here {% endcomment %}
    <div class="full-nav">
      <nav class="branding-nav">
        <a href="">
        <span class="dic">Dic</span><span class="tators">tators</span>
        </a>
      </nav>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="#about">AnimaChat</a></li>
          <li><a href="#services">AnimaBlend</a></li>
          <li><a href="home">Home</a></li>
          <li><a href="#portfolio">Community</a></li>
          <li><a href="#contact">About</a></li>
        </ul>
      </nav>
    </div>
    {% comment %} nav_bar_ends_here {% endcomment %}
    <div class="home-button">
      <a href="home"
        ><button class="button-1" role="button">Explore Anime</button></a
      >
    </div>
  </body>
</html>
