{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'AnimaBlend/indexcss.css' %}" />
    <link rel="stylesheet" href="{% static 'AnimaBlend/search.css' %}" />
    <link rel="stylesheet" href="{% static 'AnimaBlend/details.css' %}" />
  </head>

  <body>
    <!-- nav_bar_html_starts_here  -->
    
    <div class="full-nav">
        <div class="branding-nav">
          <span class="dic">Dic</span><span class="tators">tators</span>
        </div>
        <input type="checkbox" id="nav-check" hidden />
        <nav class="navbar">
          <div class="branding-nav-mobile">
            <span class="dic">Dic</span><span class="tators">tators</span>
          </div>
          <ul class="nav-links">
            <li><a href="/">AnimaChat</a></li>
            <li><a href="home">AnimaBlend</a></li>
            <li>
              <a href="/"
              ><img src="{% static "AnimaBlend/assets/index-images/zoro-logo.png" %}"
              class="debian"></a
              >
            </li>
            <li><a href="/">Community</a></li>
            <li><a href="/">About</a></li>
          </ul>
        </nav>
        <div class="search">
          <form name="search-form" method="get" action="/search">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit">Go</button>
          </form>
          <label for="nav-check">
            <div class="menu">
              <img src="{% static "AnimaBlend/assets/index-images/menu.png" %}">
            </div>
          </label>
        </div>
      </div>
      <!-- nav_bar_html_end_here  -->

      <div class="details-main">

      <div class="details-main-1">
        <div class="anime-details-poster">
          <img src="{{ anime.thumbnail }}" alt="{{ anime.title }} Poster" />
        </div>
        <div class="anime-details-text">
          <div class="details-title">{{ anime.title }}</div>
          <div class="details-episodes">Episodes: {{ anime.episode.count }}</div>
          <div class="details-description">{{ anime.description }}</div>
          <div class="details-watch-button">
            <div class="home-button">
              <a href="/play"><button class="button-1" role="button">Watch now</button></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
