{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ anime.title }}</title>
    <link rel="stylesheet" href="{% static 'AnimaBlend/css/indexcss.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'AnimaBlend/css/search.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'AnimaBlend/css/details.css' %}" />
    <link rel="stylesheet" href="{% static 'AnimaBlend/css/login.css' %}" />
  </head>

  <body>
    <!-- nav_bar_html_starts_here  -->
    
    <div class="full-nav">
        <div class="branding-nav">
          <span class="dic">Dic</span><span class="tators">tators</span>
        </div>
        <input type="checkbox" id="nav-check" hidden />
        <nav class="navbar">
          <div class="branding-nav-mobile">
            <span class="dic">Dic</span><span class="tators">tators</span>
          </div>
          <ul class="nav-links">
            <li><a href="blog">AnimaBlog</a></li>
            <li><a href="/home">AnimaBlend</a></li>
            <li>
              <a href="/"
              ><img src="{% static "AnimaBlend/assets/index-images/zoro-logo.png" %}"
              class="debian"></a
              >
            </li>
            <li><a href="/">Community</a></li>
            <li><span class="account">Account</span></li>
          </ul>
        </nav>
        <div class="search">
          <form name="search-form" method="get" action="/search">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit">Go</button>
          </form>
          <label for="nav-check">
            <div class="menu">
              <img src="{% static "AnimaBlend/assets/index-images/menu.png" %}">
            </div>
          </label>
        </div>
      </div>
      <!-- nav_bar_html_end_here  -->

      <div class="details-main">

      <div class="details-main-1">
        <div class="anime-details-poster">
          <img src="{{ anime.thumbnail }}" alt="{{ anime.title }} Poster" />
        </div>
        <div class="anime-details-text">
          <div class="details-title">{{ anime.title }}</div>
          <div class="details-episodes">Episodes: {{ anime.episode.count }}</div>
          <div class="details-description">{{ anime.description }}</div>
          <div class="details-watch-button">
            <div class="home-button">
              <a href="{% url 'play_one' anime.id %}"><button class="button-1" role="button">Watch now</button></a>
            </div>
          </div>
        </div>
      </div>

    </div>



{% comment %} ---------------------------------------------------------------------------------------------------------- {% endcomment %}

{% comment %} here======================================================= {% endcomment %}
{% comment %} login================ {% endcomment %}
{% comment %} html+++++++++++++++++++++++++++++++++++++++++++++++ {% endcomment %}
<div class="login-container">
  <div class="login-main">
    <span class="login-close"><img src="{% static "AnimaBlend/assets/icons/close.png" %}" alt="cross"></span>
    <div class="login-content login">
      <h2>LOGIN</h2>
      <form action="#">
        <div class="input-box">
          <span class="icon"><img src="{% static "AnimaBlend/assets/icons/mail.svg" %}" alt=""></span>
          <input type="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="{% static "AnimaBlend/assets/icons/pass.png" %}" alt=""></span>
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="remember-forgot">
          <label> <input type="checkbox">Remember me</label>
          <a href="#">Forgot Password</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
        <div class="login-register">
          <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
        </div>
      </form>
    </div>


    {% comment %} registration part -------------------- {% endcomment %}

    <div class="login-content register">
      <h2>Registration</h2>
      <form action="#">
        <div class="input-box">
          <span class="icon"><img src="{% static "AnimaBlend/assets/icons/user.png" %}" alt=""></span>
          <input type="text" required>
          <label>Username</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="{% static "AnimaBlend/assets/icons/mail.svg" %}" alt=""></span>
          <input type="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="{% static "AnimaBlend/assets/icons/pass.png" %}" alt=""></span>
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="remember-forgot">
          <label> <input type="checkbox">I agree to the terms and conditions</label>
        </div>
        <button type="submit" class="login-btn">Register</button>
        <div class="login-register">
          <p>Already have an account? <a href="#" class="login-link">Login</a></p>
        </div>
      </form>
    </div>


  </div>
</div>
{% comment %} //////////////////////////////////////////////////////////// {% endcomment %}
{% comment %} end login {% endcomment %}
{% comment %} hehe -------------------________________________________========================== {% endcomment %}



<script src="{% static "AnimaBlend/js/login.js" %}"></script>

  </body>
</html>
