{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "AnimaBlend/css/indexcss.css" %}">
  <link rel="stylesheet" href="{% static "AnimaBlend/css/home.css" %}">
</head>
<body>
  
  {% comment %} nav_bar_css_starts_here {% endcomment %}

  <div class="full-nav">
    <div class="branding-nav">
      <span class="dic">Dic</span><span class="tators">tators</span>
    </div>
    <input type="checkbox" id="nav-check" hidden />
    <nav class="navbar">
      <div class="branding-nav-mobile">
        <span class="dic">Dic</span><span class="tators">tators</span>
      </div>
      <ul class="nav-links">
        <li><a href="/">AnimaChat</a></li>
        <li><a href="/home" class="active">AnimaBlend</a></li>
        <li>
          <a href="/"
            ><img src="{% static "AnimaBlend/assets/index-images/zoro-logo.png" %}"
            class="debian"></a
          >
        </li>
        <li><a href="/">Community</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </nav>
    <div class="search">
      <form name="search-form" method="get" action="/search">
        <input type="text" placeholder="Search..." name="search" />
        <button type="submit">Go</button>
      </form>
      <label for="nav-check">
        <div class="menu">
          <img src="{% static "AnimaBlend/assets/index-images/menu.png" %}">
        </div>
      </label>
    </div>
  </div>

  {% comment %} nav_bar_css_end_here {% endcomment %}

  {% comment %} main_html_start_here {% endcomment %}

  <div class="home-container">

    <div class="carousel-container">
      {% for i in slider_animes %}
      <div class="carousel-slide" style="background-image: url('{{ i.wallpaper }}');">
        <div class="carousel-slide-cover">
          <div class="carousel-content">
            <h1>{{ i.title }}</h1>
            <div class="meta-info">
              <span>📺 TV</span>
              <span>Episode: {{ i.episode.count }}</span>
            </div>
            <p>{{ i.description|truncatewords:20 }}</p>
            <div class="home-button">
              <a href="{% url 'play_one' i.id %}"><button class="watch-now" role="button">▶ Watch Now</button></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
      <button class="prev-btn">❮</button>
      <button class="next-btn">❯</button>
    </div>


  </div>

  <script src="{% static "AnimaBlend/js/home.js" %}"></script>
</body>
</html>