{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="{% static "AnimaBlend/css/indexcss.css" %}">
    <link rel="stylesheet" href="{% static "AnimaBlend/css/login.css" %}">
    <link rel="stylesheet" href="{% static "AnimaBlend/css/play.css" %}">
    <link rel="stylesheet" href="{% static "AnimaBlend/css/latest.css" %}">
    <link rel="stylesheet" href="{% static "AnimaBlend/css/home.css" %}">
  </head>
  <body>
    {% comment %} nav_bar_css_starts_here {% endcomment %}

  <div class="full-nav">
    <div class="branding-nav">
      <span class="dic">Dic</span><span class="tators">tators</span>
    </div>
    <input type="checkbox" id="nav-check" hidden />
    <nav class="navbar">
      <div class="branding-nav-mobile">
        <span class="dic">Dic</span><span class="tators">tators</span>
      </div>
      <ul class="nav-links">
        <li><a href="/blog">AnimaBlog</a></li>
        <li><a href="/home">AnimaBlend</a></li>
        <li>
          <a href="/"
            ><img src="{% static "AnimaBlend/assets/index-images/zoro-logo.png" %}"
            class="debian"></a
          >
        </li>
        <li><a href="/latest" class="active">Latest</a></li>
        <li><span class="account">Account</span></li>
      </ul>
    </nav>
    <div class="search">
      <form name="search-form" method="get" action="/search">
        <input type="text" placeholder="Search..." name="search" />
        <button type="submit">Go</button>
      </form>
      <label for="nav-check">
        <div class="menu">
          <img src="{% static "AnimaBlend/assets/index-images/menu.png" %}">
        </div>
      </label>
    </div>
  </div>

  {% comment %} nav_bar_html_end_here {% endcomment %}

<div class="latest-main">

    <div class="latest-header">
        Latest Episodes - 
    </div>

    
    {% for episode in episodes %}
        <div class="latest-box">
            <div class="latest-poster">
                <img src="{{ episode.anime.thumbnail }}" alt="">
            </div>
            <div class="latest-content">
                <div class="latest-content-title">
                    📺 {{ episode.anime.title }}
                </div>
                <div class="latest-content-episode">
                    Episode - {{ episode.episode_number }} : {{ episode.title }}
                </div>
                <div class="latest-content-description">{{ episode.anime.description }}</div>
                <div class="home-button">
                    <a href="{% url 'play' episode.anime.id episode.episode_number %}"><button class="watch-now" role="button">▶ Watch Now</button></a>
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% comment %} ------------------------------ Footer Section ------------------------------------------ {% endcomment %}
    <div class="play-footer">
        <div class="footer-head"><span class="pink">Dic</span><span class="white">tators</span></div>
        <hr width="100%">
        <span class="az-head">A-Z LIST</span>
        <span class="az-divide">|</span>
        <span class="az-tail">Searching the anime list alphabetically from A to Z </span>
        <div class="alphabets">
            {% for i in alphabet %}
            <div class="alphabet-box">
                <a href="{% url 'search' %}?query={{ i }}">{{ i }}</a>
            </div>
            {% endfor %}
    </div>
    <div class="footer-description">
        Animablend is a vibrant platform where anime lovers can come together to watch, discover, and discuss their favorite 
        shows. Whether you're a seasoned anime enthusiast or just starting your journey, Animablend offers a seamless viewing 
        experience with a vast library of shows to explore. Our community-driven environment allows fans to connect, share 
        recommendations, and engage in meaningful discussions. At Animablend, we are all about bringing people closer through 
        their shared passion for anime, one episode at a time.
    </div>
    <div class="play-footer-main">&#169 2024 Dictators All rights reserved</div>
</div>

{% comment %} -------------------==================== Footer Section Ends Here ========================---------------------- {% endcomment %}

</div>  
{% comment %} latest main closing {% endcomment %}
  


  {% comment %} login div html starts here {% endcomment %}

  <div class="login-container">
    <div class="login-main">
      <span class="login-close"><img src="{% static "AnimaBlend/assets/icons/close.png" %}" alt="cross"></span>
      <div class="login-content login">
        <h2>LOGIN</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"><img src="{% static "AnimaBlend/assets/icons/mail.svg" %}" alt=""></span>
            <input type="email" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><img src="{% static "AnimaBlend/assets/icons/pass.png" %}" alt=""></span>
            <input type="password" required>
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label> <input type="checkbox">Remember me</label>
            <a href="#">Forgot Password</a>
          </div>
          <button type="submit" class="login-btn">Login</button>
          <div class="login-register">
            <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
          </div>
        </form>
      </div>


      {% comment %} registration part -------------------- {% endcomment %}

      <div class="login-content register">
        <h2>Registration</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"><img src="{% static "AnimaBlend/assets/icons/user.png" %}" alt=""></span>
            <input type="text" required>
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"><img src="{% static "AnimaBlend/assets/icons/mail.svg" %}" alt=""></span>
            <input type="email" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><img src="{% static "AnimaBlend/assets/icons/pass.png" %}" alt=""></span>
            <input type="password" required>
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label> <input type="checkbox">I agree to the terms and conditions</label>
          </div>
          <button type="submit" class="login-btn">Register</button>
          <div class="login-register">
            <p>Already have an account? <a href="#" class="login-link">Login</a></p>
          </div>
        </form>
      </div>


    </div>
  </div>

  {% comment %} login div html ends here {% endcomment %}
  <script src="{% static "AnimaBlend/js/login.js" %}"></script>
  </body>
</html>
