{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "AnimaBlend/css/indexcss.css" %}" />
    <link rel="stylesheet" href="{% static "AnimaBlend/css/search.css" %}" />
  </head>
  <body>
    {% comment %} nav_bar_starts_here {% endcomment %}
    <div class="full-nav">
      <div class="branding-nav">
          <span class="dic">Dic</span><span class="tators">tators</span>
      </div>
      <input type="checkbox" id="nav-check" hidden>
      <nav class="navbar">
        <div class="branding-nav-mobile">
            <span class="dic">Dic</span><span class="tators">tators</span>
        </div>
        <ul class="nav-links">
          <li><a href="/">AnimaChat</a></li>
          <li><a href="home">AnimaBlend</a></li>
          <li><a href="/"><img src="{% static "AnimaBlend/assets/index-images/zoro-logo.png" %}" class="debian"></a></li>
          <li><a href="/">Community</a></li>
          <li><a href="/">About</a></li>
        </ul>
      </nav>
      <div class="search">
        <form name="search-form" method="get" action="search">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit">Go</button>
        </form>
        <label for="nav-check">
          <div class="menu">
            <img src="{% static "AnimaBlend/assets/index-images/menu.png" %}">
          </div>
        </label>
      </div>
    </div>

    {% comment %} nav_bar_html_ends_here {% endcomment %}

    <div class="search-header">Search Results :</div>
    
    {% comment %} search_html_starts_here {% endcomment %}
    
    
    <div class="search-result">

      {% if animes %}
  <div class="card-row">
    {% for anime in animes %}
      {% if forloop.counter0|divisibleby:4 and not forloop.first %}
        </div>
        <div class="card-row">
      {% endif %}

      <a href="{% url 'details' anime.id %}">
        <div class="card">
          <div class="card-image">
            <img src="{{ anime.thumbnail }}" alt="Show Image">
          </div>
          <div class="card-title">{{ anime.title }}</div>
          <div class="card-episodes">Episodes: {{ anime.episode.count }}</div>
        </div>
      </a>
      
    {% endfor %}
  </div>
{% else %}
  <div class="search-no">No search Results found</div>
{% endif %}

    </div>

    {% comment %} search_result_for_800_starts_here {% endcomment %}

    <div class="search-result-800">

      {% if animes %}
  <div class="card-row">
    {% for anime in animes %}
      {% if forloop.counter0|divisibleby:3 and not forloop.first %}
        </div>
        <div class="card-row">
      {% endif %}
      
      <a href="{% url 'details' anime.id %}">
        <div class="card">
          <div class="card-image">
            <img src="{{ anime.thumbnail }}" alt="Show Image">
          </div>
          <div class="card-title">{{ anime.title }}</div>
          <div class="card-episodes">Episodes: {{ anime.episode.count }}</div>
        </div>
      </a>
      
    {% endfor %}
  </div>
{% else %}
  <div class="search-no">No search Results found</div>
{% endif %}

    </div>

    {% comment %} search_result_for_500_starts_here {% endcomment %}

    <div class="search-result-500">

      {% if animes %}
  <div class="card-row">
    {% for anime in animes %}
      {% if forloop.counter0|divisibleby:2 and not forloop.first %}
        </div>
        <div class="card-row">
      {% endif %}
      
      <a href="{% url 'details' anime.id %}">
        <div class="card">
          <div class="card-image">
            <img src="{{ anime.thumbnail }}" alt="Show Image">
          </div>
          <div class="card-title">{{ anime.title }}</div>
          <div class="card-episodes">Episodes: {{ anime.episode.count }}</div>
        </div>
      </a>
      
    {% endfor %}
  </div>
{% else %}
  <div class="search-no">No search Results found</div>
{% endif %}

    </div>

  </body>
</html>
