{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "AnimaBlend/indexcss.css" %}" />
    <link rel="stylesheet" href="{% static "AnimaBlend/search.css" %}" />
  </head>
  <body>
    {% comment %} nav_bar_starts_here {% endcomment %}
    <div class="full-nav">
      <nav class="branding-nav">
        <a href="/">
          <span class="dic">Dic</span><span class="tators">tators</span>
        </a>
      </nav>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="#about">AnimaChat</a></li>
          <li><a href="home">AnimaBlend</a></li>
          <li>
            <a href="/"
              ><img src="{% static "AnimaBlend/assets/index-images/debian.ico" %}" class="debian"></a
            >
          </li>
          <li><a href="#portfolio">Community</a></li>
          <li><a href="/#about">About</a></li>
        </ul>
      </nav>
      <div class="search">
        <form name="search-form" method="get" action="search">
          <input type="text" placeholder="Search..." name="search" />
          <button type="submit">Go</button>
        </form>
      </div>
    </div>

    {% comment %} nav_bar_html_ends_here {% endcomment %}

    <div class="search-header">Search Results :</div>

    {% comment %} search_html_starts_here {% endcomment %}

    <div class="search-result">

      {% if animes %}
  <div class="card_row">
    {% for anime in animes %}
      {% if forloop.counter|divisibleby:4 and not forloop.first %}
        </div>
        <div class="card_row">
      {% endif %}
      
      <div class="card">
        <div class="card-image">
          <img src="{{ anime.thumbnail }}" alt="Show Image">
        </div>
        <div class="card-title">{{ anime.title }}</div>
        <div class="card-episodes">Episodes: {{ anime.num_episodes }}</div>
      </div>

      {% if forloop.counter|divisibleby:4 and forloop.last %}
        </div>
      {% endif %}
      
    {% endfor %}
  </div>
{% else %}
  <div class="search-no">No search Results found</div>
{% endif %}

    </div>

  </body>
</html>
